body, html {
  color: #ff6400;
  height: 100%;
}
.container {
  max-width: 1200px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}
.watch-section {
  display: table;
  width: 100%;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}
.watch-section .watch-inner {
  display: table-cell;
}
.face {
  background: transparent url("表盘.png") top left no-repeat;
  width: 160px;
  height: 160px;
  padding: 0;
  display: inline-block;
  position: relative;
  margin: 10px;
}
.clock {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0;
  left: 0;
}
